<form action="/users" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <div>
    <label for="email">Email</label>
    <input type="text" id="email" name="user[email]">
  </div>
  <div>
    <label for="name">Name</label>
    <input type="text" id="name" name="user[name]">
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" id="password" name="user[password]">
  </div>
  <div>
    <label for="password_confirmation">Password Confirmation</label>
    <input type="password" id="password_confirmation" name="user[password_confirmation]">
  </div>
  <div>
    <input type="submit" value="Join">
  </div>

</form>
