<h2><%= @user.name %></h2>

New Secret
<form action="" method="POST">
  <input type="text" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="secret[content]">New Secret</label>
  <textarea id="secret[content]" name="secret[content]" cols="30" rows="10"></textarea>
  <input type="submit" value="Create Secret">
</form>

<button></button>


<div class="">
  <h2></h2>
  <ul>
    <% @user.secrets.each do |secret| %>
      <li >
        <%= secret.content %>
      </li>
    <% end %>
  </ul>
</div>

<div class="">
  <h2></h2>
</div>



<a href="/users/<%= @user.id %>/edit">Edit Profile</a>
