<h1>Secrets</h1>

<ul>
  <% @secrets.each do |secret| %>
    <li>
      <div class="content">
        <%= secret.content %>
      </div>
      <div class="action">
        <form action="/secrets/<%= secret.id %>" method="POST">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          <input type="hidden" name="_method" value="DELETE">
          <input type="submit" value="Delete">
        </form>
      </div>
    </li>
  <% end %>
</ul>
